.cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px); /*funcion repeat, primer parametro cantidad de columnas, tamaño 1fr*/
    gap: 30px; /*es el espaciado entre las cards*/
    place-content: center;
}

@media (max-width: 640px) { /*responsive, ponemos max pq nuestros estilos funcionan para lo grande*/
    .cards_container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
}

